:root {
  --clr-orange: rgb(255, 103, 0);
  --clr-ogradient: linear-gradient(0deg, rgb(255, 103, 0) 10%, rgb(255, 160, 0) 90%);


}
a {
    text-decoration: none;
}

.cta-btn .footer {
    font-size: .5rem;
}
.divider {
    border-top: 10px solid rgb(255, 103, 0);
    margin-top: .8rem;
  }
  